/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Apply Montserrat to header elements */
header h1, nav a, section h2 {
    font-family: 'Montserrat', sans-serif;
}

.left-align {
    text-align: left;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    color: #222;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Navigation */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

section#home h1 {
    font-size: 2.5em;
    text-align: center;
    color: #222;
}

section h2 {
    font-size: 1.8em;
    color: #444;
    margin-bottom: 50px;
}

section p, section ul {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-top: 0px;
}

section ul li {
    margin-bottom: 10px;
}

#home p {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.research-subsection {
    margin-top: 0px;
}

.research-subsection h3 {
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.research-subsection ul {
    padding-left: 20px;
}

.research-subsection ul li {
    margin-bottom: 10px;
}
